/* Slider.module.css */

/* Các lớp mặc định */
.sliderTitle {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.sliderText {
  font-size: 1.5rem;
}

/* minwidth 768: 1920 x 750 
  maxwidth 767: 1500 x1662
*/

/* @media (max-width: 800px) {
  .sliderWrapper {
    display: none;
  }
} */
